<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chatroom</title>
    <link href="https://cdn.bootcss.com/pure/1.0.0/pure-min.css" rel="stylesheet">
    <style>
        div {
            margin-top: 100px;
            text-align: center;
        }
        .button-success{
            background: #80bd01;
            border-radius: 4px;
        }
    </style>
</head>
<body>
    <div>
         <h1>聊   天   室</h1>
    <form action="{{ url_for('.enter') }}" method="post" class="pure-form ">
        <input name="name" class="pure-input-1-4" placeholder="请输入昵称"><br><br>
        <button class="button-success pure-button  pure-input-1-4 pure-button-primary">进入</button>
    </form>
    </div>

</body>
</html>